%flex_row {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  column-gap: 30px;
  row-gap: 35px;

  flex-wrap: wrap;
}

.recipes {
  @extend %flex_row;
  padding: 0 5px;
    &_item {
      box-sizing: border-box;
      width: calc((1100px - 70px) / 3);
    }
}
