%flex_row {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  column-gap: 17px;
  row-gap: 35px;

  flex-wrap: wrap;
}

.recipes {
  @extend %flex_row;
    &_item {
      box-sizing: border-box;
    width: calc(1100px / 3 - 50px) ;
  }
}
