%conteiner {
  width: 1100px;
  margin: 0 auto;
}

%flex_row {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.catalog {
  @extend %conteiner;
  overflow: hidden;

  &_paginate {
    @extend %flex_row;
    margin-top: 16px;
    margin-bottom: 16px;

    &_numbering {
      font-size: 18px;
    }
  }
}
