.checkbox {
  margin:0;
  padding: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: linear-gradient(98.81deg, #FFF0F0 -0.82%, #FFDFDF 101.53%);
  border-radius: 7px;
  border: none;
  appearance: none;
}

.checkbox:not([disabled]):hover {
  background: linear-gradient(98.81deg, #FFDFDF -0.82%, #FFA2A2 101.53%);
}

.checkbox:not([disabled]):checked:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 5px;
  height: 9px;
  border: 2px solid #FF5555;
  border-width: 0 2px 2px 0;
  margin: -1px -2px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

.checkbox_disabled {
  background: linear-gradient(98.81deg, #F2F2F2 -0.82%, #D9D9D9 101.53%);
}